.fadeIn{
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;

    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from{ 
        opacity: 0; 
    }
    to{
        opacity: 1;
    }

}